* {
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #eee;
    --black-color: #111;
    --shadow-low: rgba(0, 0, 0, .1);
    --tile-margin: 2em;
}

input:focus {
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--white-color);
    cursor: default;
}

body>.background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
}

body>.background::before{
    content:"";
    display: block;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:20vh;
    background:linear-gradient(to bottom, transparent, var(--white-color));
}

.main {
    height: 70vh;
}

.main .group {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
}

.main .group .logo {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #fff;
    text-shadow: 0 0 1em rgba(0, 0, 0);
}

.main .group .bar {
    width: 40%;
    display: block;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.main .group .bar input {
    width: 100%;
    box-shadow: 0 0 1em var(--shadow-low);
    border: none;
    border-radius: .3em;
    font-family: inherit;
    font-size: 1.2em;
    padding: .5em 1em;
    box-sizing: border-box;
}

.main .group .bar .autocomplete {
    box-shadow: 0 1em 1em var(--shadow-low);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    margin-top: -.5em;
    border-radius: 0 0 .3em .3em;
    text-align: left;
    box-sizing: border-box;
    padding: 1em 0 .5em;
}

.autocomplete .term {
    padding: .5em 1em;
    cursor: pointer;
}

.autocomplete .term:hover, .autocomplete .term.selected {
    background: var(--shadow-low);
}

.main .group .bookmarks a{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color:inherit;
    text-decoration: inherit;
    font-weight: 800;
    padding:1em;
    background: #fff;
    border-radius:.5em;
    box-shadow: 0 0 1em var(--shadow-low);
    margin:3em 1em;
    width:6em;
    height:3.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.main .group .bookmarks a img{
    display: block;
    width:1.5em;
    height:1.5em;
    margin: 0 auto .5em;
    pointer-events: none;
}

.tiles-list {
    width: 95vw;
    margin: 0 auto;
    text-align: center;
}

.tile-content{
    width:600px;
    height:400px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 0 1em var(--shadow-low);
    border-radius: .5em;
    padding:1.25em;
    display: inline-block;
    background: #fff;
    /* width: calc(49% - var(--tile-margin)); */
    margin: calc(var(--tile-margin) / 2) var(--tile-margin) calc(var(--tile-margin) / 2) 0;
    overflow:hidden;
    position: relative;
}

.tile-content:nth-of-child(2n + 1)  {
    margin-left: var(--tile-margin);
    margin-right: 0;
}

.tile-content .tile-title{
    font-weight: 800;
    font-size:1.25em;
    margin-bottom:.75em;
}

.tile-content .tile-title svg{
    width:1.5em;
    height:1.5em;
    margin-top:-.25em;
    margin-right:.3em;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}

.settings .header{
    font-weight: 800;
    font-size: 2em;
    width:80vw;
    margin:2em auto;
    opacity:.75;
}

.settings .header a{
    color:inherit;
    text-decoration: inherit;
}

.settings .view{
    width: 80vw;
    margin:0 auto 2em;
}

.settings .view h1{
    font-size:2.5em;
}

.settings .view .menu h2{
    margin: 2em 0 1em;
}

.settings .view .menu select{
    background:none;
    border:.15em solid rgba(0, 0, 0, .75);
    border-radius:.3em;
    font-family: inherit;
    font-size: 1.25em;
    padding:.5em;
    font-weight: 800;
    cursor: pointer;
}

.settings .view .menu option{
    background: var(--white-color);
    font-weight: 800;
}

.settings .view .menu .option{
    font-weight: 800;
    display: table;
    box-shadow:0 0 1em var(--shadow-low);
    padding: .5em;
    border-radius: .3em;
    margin: 1em 0;
}

.settings .view .menu .option svg{
    width: 1.75em;
    height: 1.75em;
    vertical-align: middle;
    margin:0 .5em;
    fill: currentColor;
}

.settings .view .menu .option span{
    display: inline-block;
    vertical-align: middle;
}

.settings .view .menu .option input{
    background: none;
    border: none;
    font-size:1.1em;
    margin:0 1em;
    font-family: inherit;
    display: inline-block;
    vertical-align: middle;
}

.settings .view .menu .option .modifiers{
    display: inline-block;
    vertical-align: middle;
}

.settings .view .menu .option .modifiers div{
    display: inline-block;
    vertical-align: top;
    width:1.5em;
    height:1.5em;
    cursor:pointer;
    margin: 0 .25em;
}

.settings .view .menu .option .modifiers div svg{
    width:100%;
    height:100%;
    margin: 0;
}

.settings .view .menu .option .remove{
    cursor:pointer;
    width:1.25em;
    height:1.25em;
    margin-right: .5em;
    color: red;
}

.settings .view .menu .option .remove svg{
    width: 100%;
    height: 100%;
}

.settings .view .menu .option.create{
    color: green;
    cursor: pointer;
}

.settings .view .menu .option.create svg{
    width:1.25em;
    height:1.25em;
    margin-top:-.25em;
}

.settings .view .menu .line{
    font-weight: 800;
    margin: 2em 0;
    display: block;
}

.settings .view .menu .line.disabled{
    opacity: .5;
    pointer-events: none;
}

.settings .view .menu .line input{
    background: none;
    border: none;
    box-shadow: 0 0 1em var(--shadow-low);
    padding:.5em;
    font-family: inherit;
    border-radius: .3em;
    font-size:1.1em;
}

.switch{
    height:1em;
    width:2em;
    padding:.25em;
    background: #aaa;
    border-radius:1em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: background .3s ease;
}

.switch::before{
    content: "";
    display: block;
    width:1em;
    height:1em;
    background:white;
    border-radius: 50%;
    transition:margin-left .3s ease;
}

.switch.on{
    background: var(--black-color);
}

.switch.on::before{
    margin-left:1em;
}

.modal-overlay{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:49;
    background: rgba(0, 0, 0, .5);
}

.modal-div{
    position:fixed;
    top:50%;
    left:50%;
    z-index:50;
    background: var(--white-color);
    padding: 2em;
    border-radius:.3em;
    min-width: 30vw;
    max-width: 80vw;
    min-height: 30vh;
    max-height: 80vh;
    transform: translate(-50%, -50%);
}

.modal-div .modal-title{
    font-weight: 800;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.modal-div .bookmark-modal input, .modal-div .bookmark-modal button{
    background: none;
    border: none;
    font-family: inherit;
    font-size:1.1em;
    display: table;
    margin: 2em 0;
    box-shadow:0 0 1em var(--shadow-low);
    padding: .5em;
    border-radius: .3em;
    width:80%;
}

.modal-div .bookmark-modal button{
    cursor:pointer;
    width: initial;
    font-weight: 800;
    background: var(--black-color);
    color: var(--white-color);
    padding: .75em;
}

.modal-div .tile-modal .option{
    margin:2em 0;
    font-weight: 800;
}

.modal-div .tile-modal .option svg{
    width:1.75em;
    height:1.75em;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    margin-right: .5em;
}

.modal-div .tile-modal .option input{
    background: none;
    border: none;
    font-family: inherit;
    font-size:1em;
    margin-left: .5em;
}

.modal-div .tile-modal .option .addOption{
    display: inline-block;
    vertical-align: middle;
    color: green;
    margin-left: 1em;
    cursor:pointer;
}

.modal-div .tile-modal .option .addOption svg{
    margin: 0 .3em 0 0;
}