.weather-tile .highlight{
    margin:1em 0;
}

.weather-tile .highlight .icon{
    width:4em;
    height:4em;
    display: inline-block;
    vertical-align: top;
    margin-right:1em;
}

.weather-tile .highlight .icon svg{
    width:100%;
    height:100%;
}

.weather-tile .highlight .temp{
    display: inline-block;
    vertical-align: top;
}

.weather-tile .highlight .temp p{
    font-size:1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.weather-tile .highlight .temp span{
    font-size:2.5em;
    font-weight: 800;
}

.weather-tile .full{
    margin:1em 0;
}

.weather-tile .full>div{
    display: inline-block;
    vertical-align: middle;
    margin:0 1em;
}

.weather-tile .full>div svg{
    width:2em;
    height:2em;
    margin-right:.3em;
}

.weather-tile .full>div svg, .weather-tile .full>div>div{
    display: inline-block;
    vertical-align: middle;
}

.weather-tile .full>div>div>span{
    opacity:.6;
}

.weather-tile .full>div>div>p{
    font-weight: 800;
    font-size:1.2em;
}

.weather-tile .other p{
    margin:.5em 1em;
}