.weather-tile .highlight{
    margin:1em 0;
}

.weather-tile .highlight .icon{
    width:4em;
    height:4em;
    display: inline-block;
    vertical-align: top;
    margin-right:1em;
}

.weather-tile .highlight .icon svg{
    width:100%;
    height:100%;
}

.weather-tile .highlight .temp{
    display: inline-block;
    vertical-align: top;
}

.weather-tile .highlight .temp p{
    font-size:1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.weather-tile .highlight .temp span{
    font-size:2.5em;
    font-weight: 800;
}

.weather-tile .full{
    margin:1em 0;
}

.weather-tile .full>div{
    display: inline-block;
    vertical-align: middle;
    margin:0 1em;
}

.weather-tile .full>div svg{
    width:2em;
    height:2em;
    margin-right:.3em;
}

.weather-tile .full>div svg, .weather-tile .full>div>div{
    display: inline-block;
    vertical-align: middle;
}

.weather-tile .full>div>div>span{
    opacity:.6;
}

.weather-tile .full>div>div>p{
    font-weight: 800;
    font-size:1.2em;
}

.weather-tile .other p{
    margin:.5em 1em;
}

.reddit-tile a, .rss-tile a{
    height: 3.5em;
    display: block;
    margin: .5em 0;
    overflow: hidden;
    color: inherit;
    text-decoration: inherit;
    font-weight: 800;
    position: relative;
    transition: box-shadow .3s ease;
    border-radius: .25em;
    white-space: nowrap;
}

.reddit-tile a::before, .rss-tile a::before{
    content:"";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    background: linear-gradient(to right, transparent, #fff);
}

.reddit-tile a:hover, .rss-tile a:hover{
    box-shadow: 0 0 1em var(--shadow-low);
}

.reddit-tile a .thumb, .rss-tile a .thumb{
    height: 100%;
    width: 15%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/post.png);
}

.gmail-tile .auth-button{
    cursor: pointer;
    color: #fff;
    font-weight: 800;
    background: #EA4335;
    display: inline-block;
    padding: .75em;
    box-shadow: 0 0 1em var(--shadow-low);
    border-radius: .3em;
    margin-top: 1em;
    transition: box-shadow .3s ease;
}

.gmail-tile .auth-button svg{
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.gmail-tile .auth-button:hover{
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
}

.gmail-tile .email{
    cursor: pointer;
    margin: .5em 0;
    display: block;
    color: inherit;
    text-decoration: inherit;
    padding:.25em .5em;
    transition: box-shadow .3s ease;
    border-radius:.3em;
}

.gmail-tile .email:hover{
    box-shadow: 0 0 1em var(--shadow-low);
}

.gmail-tile .email svg{
    width:1.5em;
    height:1.5em;
    display: inline-block;
    vertical-align: middle;
}

.gmail-tile .email.unread{
    opacity:.5;
}

.gmail-tile .email>span{
    display: block;
    width: 1em;
}

.gmail-tile .email>div{
    display: inline-block;
    vertical-align: middle;
}

.gmail-tile .email>div:first-of-type{
    text-align: center;
    margin-right:1em;
    font-size: 0.9em;
}

.gmail-tile .email>div:last-of-type{
    width:calc(100% - 4em);
    overflow: hidden;
}

.gmail-tile .email>div p{
    font-weight: 800;
}

.gmail-tile .email>div p, .gmail-tile .email>div span{
    white-space: nowrap;
    display: block;
    position: relative;
}

.gmail-tile .email>div p::before, .gmail-tile .email>div span::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width:10%;
    background: linear-gradient(to right, transparent, #fff);
}

.gmail-tile .gmail-buttons{
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    color: #EA4335;
}

.gmail-tile .compose{
    font-weight: 800;
    text-decoration: inherit;
    color: inherit;
    margin-right:1em;
}

.gmail-tile .gmail-buttons span{
    cursor:pointer;
}

.gmail-tile .gmail-buttons svg{
    width:1.5em;
    height:1.5em;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    margin:-.25em .3em 0 0;
}